addict==2.2.1
albumentations==0.4.6
appdirs==1.4.4
asn1crypto==1.0.1
asynctest==0.13.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.0
certifi==2020.6.20
cffi==1.12.3
chardet==3.0.4
cityscapesScripts==1.5.0
click==7.1.2
codecov==2.1.8
colorama==0.4.3
conda==4.8.4
conda-build==3.18.9
conda-package-handling==1.6.0
coverage==5.2.1
cryptography==2.7
cycler==0.10.0
Cython==0.29.21
dataclasses==0.8
decorator==4.4.0
filelock==3.0.12
flake8==3.8.3
Flask==0.12.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.4.4
glob2==0.7
greenlet==1.0.0
idna==2.8
imagecorruptions==1.1.0
imageio==2.9.0
imgaug==0.4.0
importlib-metadata==1.7.0
iniconfig==1.0.1
interrogate==1.2.0
ipython==7.8.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==0.24
jedi==0.15.1
Jinja2==2.10.3
joblib==0.11
jsonpatch==1.32
jsonpointer==2.1
kiwisolver==1.2.0
kwarray==0.5.9
libarchive-c==2.8
lief==0.9.0
lvis==10.5.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
minio==7.0.1
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mmcv-full==1.2.4
-e git+https://github.com/DongshuoYin/garbage_dump_detection.git@0b78e855e579dee5234c2a672b95ce350b3b3489#egg=mmdet
mmpycocotools==12.0.3
more-itertools==8.4.0
networkx==2.4
numpy==1.17.2
olefile==0.46
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
ordered-set==4.0.2
packaging==20.4
pandas==1.1.0
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
pkginfo==1.5.0.1
pluggy==0.13.1
prompt-toolkit==2.0.10
psutil==5.6.3
ptyprocess==0.6.0
py==1.9.0
pycocotools==12.0
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.19
pyflakes==2.2.0
Pygments==2.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.0.1
pytest-runner==5.2
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==22.2.1
requests==2.22.0
ruamel-yaml==0.15.46
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.2
seaborn==0.11.1
Shapely==1.7.0
six==1.12.0
soupsieve==1.9.3
SQLAlchemy==1.4.0
tabulate==0.8.7
terminaltables==3.1.0
threadpoolctl==2.1.0
tifffile==2020.8.13
toml==0.10.1
torch==1.7.1+cu110
torchaudio==0.7.2
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.8.2+cu110
tornado==6.1
tqdm==4.32.1
traitlets==4.3.3
typing-extensions==3.7.4.3
ubelt==0.9.1
urllib3==1.24.2
visdom==0.1.8.9
wcwidth==0.1.7
websocket-client==1.2.1
Werkzeug==0.14.1
xdoctest==0.13.0
yapf==0.30.0
zipp==3.1.0
